.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mode {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  padding: 30px 0;
}

.mode button {
  background: transparent;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.mode button:hover {
  box-shadow: 1px 1px 1px 1px rgb(209, 206, 206);
}

.title {
  color: var(--Very-Light-Gray);
  font-weight: bold;
}
