@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  font-family: "Space Grotesk", sans-serif;
  --bright-blue: #3a7bfd;
  --Check-Background: linear-gradient(to right, #57ddff, #c058f3);
  --Very-Light-Gray: #fafafa;
  --Very-Light-Grayish-Blue: #e4e5f1;
  --Light-Grayish-Blue: #d2d3db;
  --Dark-Grayish-Blue: #9394a5;
  --Very-Dark-Grayish-Blue: #484b6a;
  --Very-Dark-Blue: #161722;
  --Very-Dark-Desaturated-Blue: #25273c;
  --Light-Grayish-Blue: #cacde8;
  --Light-Grayish-Blue-hover: #e4e5f1;
  --Dark-Grayish-Blue: #777a92;
  --Very-Dark-Grayish-Blue-2: #4d5066;
  --Very-Dark-Grayish-Blue-hover: #393a4c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 700;
}
